.button, button:not(.link),
input[type="button"], a,
.link {
  display: inline-block;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  line-height: 1.2; }

.button, button:not(.link),
input[type="button"] {
  background: -webkit-linear-gradient(top, #f3f2f7, #e4e2ed);
  background: linear-gradient(to bottom, #f3f2f7, #e4e2ed);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 9px 15px 7px;
  color: #393e41;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #393e41;
  text-align: center; }
  .button[disabled], button[disabled]:not(.link),
  input[disabled][type="button"] {
    background: #dcd9e7;
    box-shadow: none;
    color: rgba(57, 62, 65, 0.5); }
  .button:hover:not([disabled]), button:hover:not([disabled]):not(.link),
  input[type="button"]:hover:not([disabled]) {
    background: -webkit-linear-gradient(top, #eae9f1, #dcd9e7);
    background: linear-gradient(to bottom, #eae9f1, #dcd9e7); }
  .button:active:not([disabled]), button:active:not([disabled]):not(.link),
  input[type="button"]:active:not([disabled]) {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top, #d6d2e4, #c7c3da);
    background: linear-gradient(to bottom, #d6d2e4, #c7c3da); }
  .button:hover, button:hover:not(.link),
  input[type="button"]:hover {
    text-decoration: none; }
  .button[disabled], button[disabled]:not(.link),
  input[disabled][type="button"] {
    cursor: not-allowed;
    color: rgba(57, 62, 65, 0.4); }
  .button.block, button.block:not(.link),
  input.block[type="button"] {
    display: block;
    width: 100%; }
  .button.large, button.large:not(.link),
  input.large[type="button"] {
    font-size: 18px; }
  .button.round, button.round:not(.link),
  input.round[type="button"] {
    border-radius: 1em; }
  .button.primary, button.primary:not(.link),
  input.primary[type="button"] {
    background: -webkit-linear-gradient(top, #3f88c5, #367bb4);
    background: linear-gradient(to bottom, #3f88c5, #367bb4);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px 15px 7px;
    color: white; }
    .button.primary[disabled], button.primary[disabled]:not(.link),
    input.primary[disabled][type="button"] {
      background: #3373a8;
      box-shadow: none;
      color: rgba(255, 255, 255, 0.5); }
    .button.primary:hover:not([disabled]), button.primary:hover:not([disabled]):not(.link),
    input.primary[type="button"]:hover:not([disabled]) {
      background: -webkit-linear-gradient(top, #3980bc, #3373a8);
      background: linear-gradient(to bottom, #3980bc, #3373a8); }
    .button.primary:active:not([disabled]), button.primary:active:not([disabled]):not(.link),
    input.primary[type="button"]:active:not([disabled]) {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
      background: -webkit-linear-gradient(top, #306ea1, #2b608d);
      background: linear-gradient(to bottom, #306ea1, #2b608d); }
  .button.secondary, button.secondary:not(.link),
  input.secondary[type="button"] {
    background: -webkit-linear-gradient(top, #44bba4, #3da894);
    background: linear-gradient(to bottom, #44bba4, #3da894);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px 15px 7px;
    color: white; }
    .button.secondary[disabled], button.secondary[disabled]:not(.link),
    input.secondary[disabled][type="button"] {
      background: #399d8a;
      box-shadow: none;
      color: rgba(255, 255, 255, 0.5); }
    .button.secondary:hover:not([disabled]), button.secondary:hover:not([disabled]):not(.link),
    input.secondary[type="button"]:hover:not([disabled]) {
      background: -webkit-linear-gradient(top, #40b09a, #399d8a);
      background: linear-gradient(to bottom, #40b09a, #399d8a); }
    .button.secondary:active:not([disabled]), button.secondary:active:not([disabled]):not(.link),
    input.secondary[type="button"]:active:not([disabled]) {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
      background: -webkit-linear-gradient(top, #369683, #308373);
      background: linear-gradient(to bottom, #369683, #308373); }
  .button.danger, button.danger:not(.link),
  input.danger[type="button"] {
    background: -webkit-linear-gradient(top, #e94f37, #e63b20);
    background: linear-gradient(to bottom, #e94f37, #e63b20);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px 15px 7px;
    color: white; }
    .button.danger[disabled], button.danger[disabled]:not(.link),
    input.danger[disabled][type="button"] {
      background: #df3318;
      box-shadow: none;
      color: rgba(255, 255, 255, 0.5); }
    .button.danger:hover:not([disabled]), button.danger:hover:not([disabled]):not(.link),
    input.danger[type="button"]:hover:not([disabled]) {
      background: -webkit-linear-gradient(top, #e74329, #df3318);
      background: linear-gradient(to bottom, #e74329, #df3318); }
    .button.danger:active:not([disabled]), button.danger:active:not([disabled]):not(.link),
    input.danger[type="button"]:active:not([disabled]) {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
      background: -webkit-linear-gradient(top, #d63117, #bf2c15);
      background: linear-gradient(to bottom, #d63117, #bf2c15); }

a.button {
  vertical-align: top; }

a,
.link {
  color: #3f88c5;
  text-decoration: none; }
  a:hover,
  .link:hover {
    text-decoration: underline; }

menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0; }
  menu .button, menu button:not(.link), menu
  input[type="button"] {
    border-radius: 0; }
  menu:not(.vertical) :first-child {
    border-radius: 4px 0 0 4px; }
  menu:not(.vertical) :last-child {
    border-radius: 0 4px 4px 0; }
  menu:not(.vertical) > .button + .button, menu:not(.vertical) > button:not(.link) + .button, menu:not(.vertical) >
  input[type="button"] + .button, menu:not(.vertical) > .button + button:not(.link), menu:not(.vertical) > button:not(.link) + button:not(.link), menu:not(.vertical) >
  input[type="button"] + button:not(.link), menu:not(.vertical) > .button +
  input[type="button"], menu:not(.vertical) > button:not(.link) +
  input[type="button"], menu:not(.vertical) >
  input[type="button"] +
  input[type="button"] {
    margin-left: -1px; }
  menu.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    menu.vertical :first-child {
      border-radius: 4px 4px 0 0; }
    menu.vertical :last-child {
      border-radius: 0 0 4px 4px; }
    menu.vertical > .button + .button, menu.vertical > button:not(.link) + .button, menu.vertical >
    input[type="button"] + .button, menu.vertical > .button + button:not(.link), menu.vertical > button:not(.link) + button:not(.link), menu.vertical >
    input[type="button"] + button:not(.link), menu.vertical > .button +
    input[type="button"], menu.vertical > button:not(.link) +
    input[type="button"], menu.vertical >
    input[type="button"] +
    input[type="button"] {
      margin-top: -1px; }
  menu.block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    menu.block .button, menu.block button:not(.link), menu.block
    input[type="button"] {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }

input[type="text"],
input[type="search"],
textarea {
  display: block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 0.5em 1em;
  color: #393e41;
  font-size: 1em; }
  input[type="text"]:disabled, input[type="text"].disabled,
  input[type="search"]:disabled,
  input[type="search"].disabled,
  textarea:disabled,
  textarea.disabled {
    cursor: not-allowed;
    color: rgba(57, 62, 65, 0.4);
    background: #e4e2ed;
    box-shadow: none; }
  input[type="text"].large,
  input[type="search"].large,
  textarea.large {
    font-size: 18px; }
  input[type="text"].error,
  input[type="search"].error,
  textarea.error {
    box-shadow: inset 0 0 0 1px rgba(233, 79, 55, 0.5), inset 0 1px 2px rgba(233, 79, 55, 0.3);
    color: #e94f37; }

input[type="search"] {
  border-radius: 1em;
  padding: 0.5em; }

h1 {
  margin: 0;
  line-height: 1.4; }

h2 {
  margin: 0;
  line-height: 1.4; }

h3 {
  margin: 0;
  line-height: 1.4; }

h4 {
  margin: 0;
  line-height: 1.4; }

h5 {
  margin: 0;
  line-height: 1.4; }

h6 {
  margin: 0;
  line-height: 1.4; }

p {
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }

ul.cozy li + li,
ol.cozy li + li {
  margin-top: 10px; }

ul.unstyled, ul.inline,
ol.unstyled,
ol.inline {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul.inline li,
ol.inline li {
  display: inline-block; }
  ul.inline li + li,
  ol.inline li + li {
    margin-left: 10px; }

ul.inline.cozy li + li,
ol.inline.cozy li + li {
  margin-left: 20px;
  margin-top: 0; }

body {
  margin: 0;
  font-size: 14px;
  color: #393e41; }
  body * {
    box-sizing: border-box; }
