$grid-size: 10px;
$g: $grid-size;

$border-radius: 4px;

$base-font-size: 14px;
$large-font-size: 18px;

$black: black;

// Coolors Exported Palette - coolors.co/f6f7eb-e94f37-393e41-3f88c5-44bba4
$cream: #f6f7eb; //rgba(246, 247, 235, 100)
$hotassred: #e94f37; //rgba(233, 79, 55, 100)
$charcoal: #393e41; //rgba(57, 62, 65, 100)
$ocean: #3f88c5; //rgba(63, 136, 197, 100)
$seafoam: #44bba4; //rgba(68, 187, 164, 100)

$text-color: $charcoal;
$body-color: $cream;
$primary-color: $ocean;
$secondary-color: $seafoam;
$danger-color: $hotassred;

@function border-shadow($alpha) {
  @return 0 0 0 1px rgba($black, $alpha);
}

@function drop-shadow($alpha) {
  @return 0 1px 2px rgba($black, $alpha);
}
