html
  head
    title Barebones
    link(rel="stylesheet", href="barebones.css")
    link(rel="stylesheet", href="demo.css")
  body
    section
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      h6 Header 6
      
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tempore quia accusamus assumenda illo?
      
      ul
        li Lorem ipsum dolor.
        li Cum, tempore, quis.
        li Explicabo, reiciendis, nemo.
  
    section
      button Click me!
      button(disabled) Don't click me!
      
      button.large Large
      button.primary Primary
      button.secondary Secondary
      button.danger Danger
      button.link Link
    
    section
      menu
        button One Fish
        button Two Fish
        button Red Fish
        button Blue Fish
      
      menu.vertical
        button One Fish
        button Two Fish
        button Red Fish
        button Blue Fish
      
    section
      input(type="text", placeholder="Text input")
      input(type="text", value="Words words words")
      input(type="text", value="No words for you", disabled)
      input.large(type="text", value="Large words")
      input.error(type="text", value="Error words")
      
      input(type="search", placeholder="Search...")
      
      textarea Text area
      textarea.large Large text area
      textarea(disabled) No typey
